<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect all traffic to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Serve the static files
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|html|png|jpg|jpeg|gif|ico|svg)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
</IfModule>
