.about
  padding: rem(105) 0

  @include laptop
    padding: rem(80) 0

  &__title
    max-width: rem(1040)
    margin-top: rem(10)

    br
      @include mobile
        display: none

  &__row
    margin-top: rem(95)
    column-gap: rem(60)

    @include laptop
      flex-direction: column
      margin-top: rem(55)

  &__card
    width: 100%
    max-width: rem(373)
    height: rem(255)
    border-radius: rem(15)
    padding: rem(20)
    padding-top: rem(25)
    row-gap: rem(11)

  &__items
    margin-right: rem(40)
    row-gap: rem(40)
    column-gap: rem(20)
    padding-bottom: rem(15)

    @include laptop
      margin-top: rem(60)
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: rem(20)
      margin-right: 0

    @include mobile
      grid-template-columns: repeat(2, 1fr)

  &__item
    padding-bottom: rem(15)
    border-bottom: rem(1) solid cl('gray-1')
    width: rem(212)
    min-width: rem(212)

    @include mobile
      width: auto
      min-width: auto
    b
      font-size: rem(44)
      background: linear-gradient(0deg, #999999, #090201)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent