.reviews
  padding-bottom: rem(120)

  &__circle
    left: 50%
    transform: translateX(-50%)

  &__items
    overflow: visible !important

  &__slide
    min-height: rem(230)

  &__image
    height: rem(152)
    transition: all 0.3s ease

  &__frame
    width: rem(321)
    margin: 0 auto
    margin-top: rem(180)

  &__phone
    left: 50%
    transform: translateX(-50%)

  &__item
    background: linear-gradient(101.15deg, #090201 11.88%, #171717 97.04%)
    padding-bottom: rem(15)
    width: 100%

    &-name
      padding: rem(10)

.splide
  &__slide
    .reviews__item
    opacity: 0.2
    transition: all 0.3s ease

    &.is-active
      .reviews__item
        opacity: 1

      .reviews__image
        height: rem(176)

  &__track
    overflow: visible !important

  &__arrows
    position: absolute
    bottom: rem(-60)
    left: 50%
    transform: translateX(-50%)
    right: 0
    width: rem(130)

  &__arrow
    background: none !important
    outline: none !important
    border-radius: 0 !important
    border: 0 !important
    width: rem(27) !important
    height: rem(10) !important

    &:before
      content: ''
      width: rem(27)
      height: rem(10)
      display: flex

    &--prev
      &:before
        background: url(@/assets/img/icons/arw-prev.svg)

    &--next
      &:before
        background: url(@/assets/img/icons/arw-next.svg)

    svg
      display: none