$colors: (
  "white": #fff,
  "white-1": #CECECE,
  "white-2": #FBF9FA,
  "black": #000,
  "black-1": #090201,
  "black-2": #0F0C0C,
  "black-3": #171717,
  "black-4": #1F1F1F,
  "black-5": #161313,
  "black-6": #151517,
  "gray-1": #535353,
  "gray-2": #7F7C7C,
  "gray-3": #393939,
  "gray-4": #999999,
  "orange": #FF4900,
  "orange-1": #9A360E
);

@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  @if $colors {
    @each $key, $value in $colors {
      --color-#{$key}: #{$value};
      --color-#{$key}--rgb: #{red($value), green($value), blue($value)};
    }
  }
}
